@keyframes typing {
  from { max-width: 0 }
  to { max-width: 100% }
}

@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: orange }
}

/* Apply typewriter effect */
.typewriter {
  overflow: hidden;
  border-right: .15em solid orange;
  white-space: nowrap;
  margin: 0 auto;
  letter-spacing: .15em;
  animation: typing 3.5s steps(40, end), blink-caret .75s step-end infinite;
}
/* home.css */
@media (min-width: 300px) and (max-width: 330px) {
  .mt-320px-64 {
    margin-top: 7.5em; /* Adjust margin-top as needed */
  }
}



@keyframes fav-bounce {
  0%, 100% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.5);
  }
}

.fav-icon-clicked {
  animation: fav-bounce 0.3s ease-in-out;
}
